.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}


.mesa-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.01rem 1rem 4rem 1rem;
  gap: 20px;
}

.game-container-anagrama {
  max-width: 1000px;
  height: 750px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.5rem;
  background-image: url('game_assets/desk.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center top; 
  position: relative;
  box-sizing: border-box;
}



 .title {
   font-size: 3.5rem;
  color: white;
  text-shadow: 3px 3px 0 #000, 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Luckiest Guy', cursive; /* ou algo estilo cartoon/divertido */
}



.fase {
   position: absolute;
  top: 1.5rem;
  right: 10rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(155, 53, 53, 0.85); 
  padding: 6px 14px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
}

.letras button {
  margin: 0.3rem;
  font-size: 1.5rem;
  padding: 0.6rem 1.2rem;
  background-color: #090101;
  color: white;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.letras button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.tentativa {
  font-size: 1.3rem;
  font-weight: bold;
  color: #222;
}

.real-botoes button {
  margin: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.real-botoes button:hover {
  background-color: #357bd8;
}

.palavras-validas {
  width: 100%;
  max-height: 120px; 
  overflow-y: auto;
  text-align: center;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.palavras-validas div {
  display: flex;          
  flex-direction: row;   
  gap: 4px;            
  flex-wrap: wrap;  
  font-size: 1.2rem;
  font-family: monospace;
  color: #222;
}


 .botao_voltar_menu {
  position: absolute;
  top: 35px;
  left: 130px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  z-index: 1000;
  font-size: 12px;
}

    
  
/* responsividade */

@media (max-width: 768px) {
  .Anagrama-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .botao_voltar_menu{
    position:static;
    font-size: 20px;
  }
  .fase{
     position:static;
  }
  .title{
    background-color: red;
  }
  .game-container-anagrama{
    width: 100%;
    gap: 3.5rem;
    background-size: cover;
  }
}
