.conteiner_Menu_Jornada{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    width: 1440px;
    height: auto;
    background-image: url(src/jogos/JornadaBicho/game_assets/imagens/Background.png);
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}

#Titulo_Jornada{
   width: 720px;
}